.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

svg {
    overflow: visible;
    margin-left: 20px;
    margin-bottom: 40px;
}

rect {
    stroke:white;
    stroke-width:1px;
}

#bottom-axis text {
    transform:rotate(45deg);
    text-anchor: start;
}